/*=== Reset ===*/
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
header,
nav,
section,
footer {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: 0;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
a {
  text-decoration: none;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
button,
select,
textarea {
  outline: none;
}
a:hover {
  text-decoration: none!important;
}
button {
  border: 0 none;
}
/*=== End Reset ===*/
/* === Global ===*/
.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background: transparent;
}
.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  display: block;
}
.clear:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.pf {
  position: fixed;
}
.bor-top,
.bor-btm,
.bor-tb {
  position: relative;
}
.bor-top:before,
.bor-btm:after,
.bor-tb:before,
.bor-tb:after {
  width: 100%;
  height: 1px;
  background-color: #C7C7C7;
  display: block;
  content: '';
  left: 0;
  position: absolute;
  transform: scaleY(0.5);
}
.bor-top:before,
.bor-tb:before {
  top: 0;
}
.bor-btm:after,
.bor-tb:after {
  bottom: 0;
}
[data-dpr='1'] .l-10 {
  font-size: 10px;
}
[data-dpr='2'] .l-10 {
  font-size: 20px;
}
[data-dpr='3'] .l-10 {
  font-size: 30px;
}
[data-dpr='1'] .l-12 {
  font-size: 12px;
}
[data-dpr='2'] .l-12 {
  font-size: 24px;
}
[data-dpr='3'] .l-12 {
  font-size: 36px;
}
[data-dpr='1'] .l-13 {
  font-size: 13px;
}
[data-dpr='2'] .l-13 {
  font-size: 26px;
}
[data-dpr='3'] .l-13 {
  font-size: 39px;
}
[data-dpr='1'] .l-14 {
  font-size: 14px;
}
[data-dpr='2'] .l-14 {
  font-size: 28px;
}
[data-dpr='3'] .l-14 {
  font-size: 42px;
}
[data-dpr='1'] .l-15 {
  font-size: 15px;
}
[data-dpr='2'] .l-15 {
  font-size: 30px;
}
[data-dpr='3'] .l-15 {
  font-size: 45px;
}
[data-dpr='1'] .l-16 {
  font-size: 16px;
}
[data-dpr='2'] .l-16 {
  font-size: 32px;
}
[data-dpr='3'] .l-16 {
  font-size: 48px;
}
[data-dpr='1'] .l-17 {
  font-size: 17px;
}
[data-dpr='2'] .l-17 {
  font-size: 34px;
}
[data-dpr='3'] .l-17 {
  font-size: 51px;
}
[data-dpr='1'] .l-18 {
  font-size: 18px;
}
[data-dpr='2'] .l-18 {
  font-size: 36px;
}
[data-dpr='3'] .l-18 {
  font-size: 54px;
}
[data-dpr='1'] .l-22 {
  font-size: 22px;
}
[data-dpr='2'] .l-22 {
  font-size: 44px;
}
[data-dpr='3'] .l-22 {
  font-size: 66px;
}
[data-dpr='1'] .l-28 {
  font-size: 28px;
}
[data-dpr='2'] .l-28 {
  font-size: 56px;
}
[data-dpr='3'] .l-28 {
  font-size: 84px;
}
[data-dpr='1'] .l-30 {
  font-size: 30px;
}
[data-dpr='2'] .l-30 {
  font-size: 60px;
}
[data-dpr='3'] .l-30 {
  font-size: 90px;
}
.pad-top {
  padding-top: 1.37rem;
}
.pad-bot {
  padding-bottom: 1.37rem;
}
.bg {
  background: #ebebeb;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
html {
  width: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #e7e7e7;
}
.box {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
