html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  background-color: #fff;
}
header .tit {
  text-align: center;
  color: #444444;
  line-height: 1.2rem;
}
header .link-all-view {
  position: absolute;
  top: 0.26666667rem;
  right: 0.4rem;
  width: 2rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  text-align: center;
  background-color: #f86262 ;
  color: #ffffff;
  border-radius: 3px;
}
.btn-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.45333333rem 0.06666667rem;
  display: flex;
  display: -weblit-flex;
}
.btn-wrapper .btn {
  width: 4.18666667rem;
  height: 0.97333333rem;
  line-height: 0.97333333rem;
  text-align: center;
  color: #fff;
  flex: 1;
  margin-left: 0.33333333rem;
  margin-right: 0.33333333rem;
  border: 3px solid #f86262;
  border-radius: 3px;
}
.btn-wrapper .link-edit-page {
  background-color: #f86262 ;
  color: #fff;
}
.btn-wrapper .link-edit-all {
  background-color: #fff ;
  color: #f86262;
}
.swiper {
  width: 100%;
  height: 10.48rem;
  padding-left: 1.06666667rem;
  padding-right: 1.06666667rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-container {
  height: 100%;
}
.swiper-container .swiper-button {
  width: 1.06666667rem;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #e7e7e7;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
}
.swiper-container .swiper-button-next {
  background-image: url("../images/arrow_right.png");
  background-size: 0.41333333rem 0.72rem;
  right: 0;
}
.swiper-container .swiper-button-prev {
  background-image: url("../images/arrow_left.png");
  background-size: 0.41333333rem 0.72rem;
  left: 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
