html {
  width: 100%;
  overflow-y: scroll;
}
body {
  width: 100%;
  overflow-y: scroll;
  background-color: #e7e7e7;
}
.template-list {
  width: 100%;
  padding: 0 0.13333333rem 0.26666667rem;
}
.template-list .item {
  width: 4.57333333rem;
  margin: 0.26666667rem 0.13333333rem 0;
  border: 1px solid #cfcfcf;
  float: left;
}
.template-list .item > a {
  width: 100%;
  display: block;
}
.template-list .item .template-image {
  width: 100%;
  height: 4.57333333rem;
  text-align: center;
  line-height: 4.57333333rem;
}
.template-list .item .template-image img {
  width: .5rem;
  height: .5rem;
  display: inline-block;
}
.template-list .item .template-detail {
  background-color: #fff;
  padding: 0.26666667rem;
}
.template-list .item .template-detail .link-make {
  padding: 0 0.13333333rem;
  height: 0.61333333rem;
  line-height: 0.61333333rem;
  display: inline-block;
  border: 1px solid #fc2f2f;
  background-color: #f25353 ;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  float: right;
}
.template-list .item .template-detail .name {
  color: #323232;
  width: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.64rem;
  float: left;
}
